.cart-button {
  width: 100%;
  height: var(--button-height);
  background: var(--clr-loom-lilac);
  /* border-radius: 8px; */
  color: var(--clr-neutral-100);
  transition:
    background-color 0.3s ease,
    border 0.3s ease,
    color 0.3s ease;
}

.cart-button-added {
  background-color: var(--clr-neutral-100);
  border: 2px solid black;
  color: var(--clr-neutral-900);
}

.test-fixed {
  position: fixed;
  height: 250px;
  width: 150px;
  background-color: gray;
  bottom: 0px;
  z-index: 99999999;
}

.view-cart-button {
  color: black;
}

/* Toast */
.ToastViewport {
  --viewport-padding: 25px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--viewport-padding);
  gap: 10px;
  width: 390px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  outline: none;
}

.ToastRoot {
  background-color: white;
  border-radius: 6px;
  box-shadow:
    hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  padding: 15px;
  display: grid;
  grid-template-areas: "title action" "description action";
  grid-template-columns: auto max-content;
  column-gap: 15px;
  align-items: center;
  z-index: 9;
}
.ToastRoot[data-state="open"] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.ToastRoot[data-state="closed"] {
  animation: hide 100ms ease-in;
}
.ToastRoot[data-swipe="move"] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.ToastRoot[data-swipe="cancel"] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.ToastRoot[data-swipe="end"] {
  animation: swipeOut 100ms ease-out;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

.ToastTitle {
  grid-area: title;
  margin-bottom: 5px;
  font-weight: 500;
  color: black;
  font-size: 15px;
}

.ToastDescription {
  grid-area: description;
  margin: 0;
  color: black;
  font-size: 13px;
  line-height: 1.3;
}

.ToastAction {
  grid-area: action;
}
