.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton-image {
  background-color: #e5e7eb;
  width: 109px;
  height: 184px;
  border-radius: 12px;
}

.skeleton-title {
  background-color: #e5e7eb;
  height: 24px;
  width: 80%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skeleton-brand {
  background-color: #e5e7eb;
  height: 16px;
  width: 60%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.skeleton-price {
  background-color: #e5e7eb;
  height: 20px;
  width: 40%;
  border-radius: 4px;
  margin-bottom: 12px;
}

.skeleton-quantity {
  background-color: #e5e7eb;
  height: 24px;
  width: 80px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.skeleton-size,
.skeleton-color {
  background-color: #e5e7eb;
  height: 16px;
  width: 60%;
  border-radius: 4px;
  margin-bottom: 4px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
