.MobileNavBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 9;
  background: rgba(166, 162, 222, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loom-nav-icon {
  padding: 1rem;
}

.MobileNavTitle {
  color: white;
}

.search-icon {
  background-color: transparent;
  height: var(--navbar-height);
  width: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon * {
  color: white;
}
