/* Brand of the day */
.brand-of-day-wrapper {
    padding-block: 4rem;
    background-color: var(--clr-gray-background);
}

.section-large {
    font-size: var(--fs-700);
    margin-inline: var(--margin-inline);
}

.brand-of-day-wrapper .brand-link {
    color: black;
}

.animation-wrapper {
    margin-left: 100px;
    margin-block: 5rem;
}


/* Genders */
.gender-wrapper {
    background-color: var(--clr-yellow);
    padding-inline: var(--margin-inline);
    padding-block: 5rem;
}

.genders {
    display: flex;
    gap: var(--margin-inline);
    margin-block-start: 1.5rem;
    min-height: 220px;
}

.gender {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 220px;
}

.button-container {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-block: 40px;
}

.gender-button {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    border-radius: 30px;
    padding-inline: 24px;
    height: var(--button-height);
}

.genders-title {
    font-size: var(--fs-700);
}