.Modal__SnapScroller {
    position: relative;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex: none;
    flex-flow: row nowrap;

    width: 100%;
    height: 440px;
    background-color: rgb(224, 224, 224);

    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    scrollbar-width: none;
    scroll-behavior: smooth;
}

.Modal__SnapScroller::-webkit-scrollbar {
    display: none;
}

.snap-scroller-wrapper {
    position: relative;
}

.SnapScroller__ImageContainer {
    width: 100%;
    height: 440px;
    flex-shrink: 0;
    flex-grow: 0;
    background: transparent;
    backdrop-filter: blur(10px);

    scroll-snap-align: center;
    flex: none;

    text-align: center;

}

.LoadingPulse {
    background-color: rgba(255, 255, 255);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgb(255, 255, 255);
    }

    50% {
        background-color: rgb(239, 238, 238)
    }

    100% {
        background-color: rgba(255, 255, 255);
    }
}

.SnapScroller__Image {
    height: 100%;
    object-fit: contain;
    display: inline-block;
}

.ShowImage {
    display: inline-block;
}

.image-pills-wrapper {
    display: flex;
    justify-content: center;
    overflow: auto;
}

.image-pill {
    width: 16px;
    height: 4px;
    background-color: var(--clr-gray-background);
    margin-inline: 4px;
    margin-block: 1rem;
    border-radius: 8px;
    transition: width 100ms ease-in, background-color 100ms ease-in;
}

.image-pill-selected {
    width: 30px;
    background-color: var(--clr-loom-lilac);
}

.rt-DialogOverlay {
    padding: 0;
}

.rt-BaseDialogScrollPadding {
    padding: 0;
}

.mobile-images-modal.mobile-images-modal {
    max-width: none;
    max-height: none;
    height: 100vh;
    border-radius: 0;
    padding: 0;
}

.mobile-images-modal img {
    max-width: none;
    height: auto;
    width: 200%;
}

.mobile-images-modal-exit {
    position: fixed;
    right: 24px;
    top: 24px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: var(--clr-gray-background);
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}