.wrapper {
  width: min(100% - (2 * 8px), var(--grid-max-width));
  margin-inline: auto;
  margin-block-end: 5rem;
}

.loom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min-card-size), 1fr));
  gap: 8px;
}

@media (min-width: 540px) {
  :root {
    --min-card-size: 240px;
  }
}
