:root {
    --clr-nav-text: white;
    --clr-nav-background: rgba(0, 0, 0, 0.6);
}

html {
    scroll-padding-top: 110px;
}


.alpha-index-container {
    position: sticky;
    top: var(--navbar-height);
    width: 100%;
    z-index: 9;
    background: var(--clr-transparent-lilac);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    padding-inline: 1rem;
    overflow: auto;
    
    display: flex;
}

.alpha-index {
    flex-shrink: 0;
    display: inline-block;
    width: 36px;
    text-align: center;
    border-right: 1px solid rgba(0 0 0 / 0.2);
    padding-inline: 10px;
    padding-block: 8px;
    text-transform: uppercase;
    color: white;
}

.alpha-index:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.letter-label {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(--fs-900);
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary);
    margin-inline: var(--margin-inline);
    margin-top: 2rem;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

ul {
    padding-inline-start: 0px;
    padding-inline: var(--margin-inline);
}

.brandLink--li {
    list-style-type: none;
}

.brandLink {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--clr-gray-background);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-regular);
    padding-inline: 1rem;
    padding-block: 8px;
    border-radius: 8px;
    word-break: break-all;
}

.brandLink:hover {
    background-color: #c4c4c4;
    color: rgb(31, 31, 31);
}


/* all-brands-title */
.all-brands-title-wrapper {
    background-color: var(--clr-yellow);
}

.all-brands-title {
    display: block;
    margin-inline: var(--margin-inline);
    padding-block: 4rem;
    font-size: var(--fs-900);
}

@media (min-width: 768px) {
    .all-brands-title-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 14rem;
    }
}