:root {
    --modal-height-laptop: 600px;
    --modal-width-laptop: 780px;

    --modal-height-phone: 550px;
    --modal-width-phone: 350px;
}


.rt-DialogContent:where([data-state='open']) {
    animation: 300ms ease-in-out 0ms 1 normal none running rt-dialog-content-show;
}

@keyframes rt-dialog-content-show {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.97);
    }
    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

.rt-DialogContent:where([data-state='closed']) {
    animation: 150ms ease-in-out 0ms 1 normal none running rt-dialog-content-hide;
}

@keyframes rt-dialog-content-hide {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(5px) scale(0.97);
    }
}


/* initial, xs: Portrait */
@media (max-width: 768px) {
    .Modal__DesktopImage {
        display: none !important;
    }

    .Modal {
        position: relative;
        height: var(--modal-height-phone);
        width: var(--modal-width-phone);
        border-radius: var(--border-radius);
    }

    .Modal__ImageContainer {
        position: relative;
        height: calc(var(--modal-height-phone) * 0.8);
    }

    .Modal__Image {
        object-fit: contain;
        width: 100%;
        height: calc(var(--modal-height-phone) * 0.8);
    }

    .Modal__TextContainer {
        margin: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .Modal__Title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .Modal__XButton {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        z-index: 2;
    }
}

/* sm, md, lg, xl: Portrait & Landscape Tablets, Laptops, Desktops  */
@media (min-width: 768px) {
    .Modal__SnapScrollerContainer {
        display: none !important;
    }

    .container {
        display: flex;
        margin: 1em auto;
        outline: 1px dashed lightgray;
        flex: none;
        overflow: auto;
    }

    .container.x {
        width: 100%;
        height: 128px;
        flex-flow: row nowrap;
        overflow-y: hidden;
    }

    .x.mandatory-scroll-snapping {
        scroll-snap-type: x mandatory;
    }


    .Modal__ImageSnapper {
        height: var(--modal-height-laptop);
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        scroll-snap-stop: always;
    }

    .Modal {
        height: var(--modal-height-laptop);
        width: var(--modal-width-laptop);
        max-width: var(--modal-width-laptop);
        border-radius: var(--border-radius);
    }

    .Modal__ImageContainer {
        position: relative;
        height: var(--modal-height-laptop);
        width: calc(var(--modal-width-laptop) * 0.45);
    }

    .Modal__Image {
        object-fit: cover;
        width: calc(var(--modal-width-laptop) * 0.45);
        height: calc(var(--modal-height-laptop));
        scroll-snap-align: start;
        background-color: rgb(224, 224, 224);
    }

    .Modal__ImagePicker {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        align-items: left;
        justify-content: left;
        background-color: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 0px 0px 0px 0px;
        overflow-x: scroll;
        scrollbar-width: none;
    }
    .Modal__ImagePicker__Avatars:first-child {
        padding-left: 10px;
    }

    .Modal__ImagePicker__Avatars {
        z-index: 1;
        border-radius: 5px;
    }


    .Modal__ImagePlaceholder {
        background-color: rgb(224, 224, 224);
        width: calc(var(--modal-width-laptop) * 0.45);
        height: var(--modal-height-laptop);
        object-fit: cover;
    }

    .Modal__ImageContainer__NextButton {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
    }

    .Modal__ImageContainer__PreviousButton {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
    }

    .Modal__TextContainer {
        margin: 20px;
        width: calc(var(--modal-width-laptop) * 0.55);
    }

    .Modal__Title {
        font-size: 28px;
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 10px;
    }


    .Modal__XButton {
        margin: 1px;
        margin-left: 5px;
    }
}