.add-items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1rem;
    margin-inline: var(--margin-inline);
    margin-block-start: 2rem;
    margin-block-end: 5rem;
}

.add-item-form {
    display: grid;
    max-width: 200px;
    margin-inline: auto;
}

.add-item-image {
    min-height: 250px;
    max-width: 200px;
    background-color: gray;
    margin-inline: auto;
}