.pageTitle {
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 600;
}

.category-page-header {
    position: relative;
    height: 200px;
}

.category-page-header img {
    height: inherit;
    width: 100%;
}

.category-page-title-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: var(--margin-inline);
}

.category-page-title {
    text-transform: capitalize;
    font-size: var(--fs-900);
    color: black;
}

@media (min-width: 768px) {
    .category-page-header {
        height: 19rem;
    }
}