/* @font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-Italic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'LibreBodoni';
    src: url('./fonts/LibreBodoni-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
} */

@font-face {
  font-family: "LibreBodoni";
  src: url("./fonts/LibreBodoni-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
