.like-text-button {
    flex-grow: 0;
    flex-shrink: 1;
    
    background-color: var(--clr-gray-background);
    border-radius: 30px;
    height: 40px;
    color: var(--clr-neutral-900);
    padding-inline: 1rem;
}

.like-text-button-liked {
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
}